# local package
-e .

# external requirements
autocorrect==2.3.0
awscli==1.19.3
click==7.0
coverage==5.4
checkdmarc==4.4.1
dill==0.3.3
flake8==3.8.4
h5py==2.10.0
keras==2.4.3
matplotlib==3.0.2
numpy==1.19.5
nltk==3.2.4
pandas==1.2.1
python-dotenv>=0.5.1
pyspf==2.0.14
validators==0.18.2
spam_lists==1.0.0
python-dotenv==0.5.1
scikit-learn==0.24.1
scipy==1.4.1
Sphinx==1.8.2
tensorflow==2.2


## In order to install the requirements, "pip install -r requirements.txt" in your terminal.
