# local package
-e .

# external requirements
autocorrect
click
Sphinx
coverage
awscli
flake8
pandas==1.2.1
python-dotenv>=0.5.1




## In order to install the requirements, "pip install -r requirements.txt" in your terminal.
